.Registration {
    margin-top: 20px;
    width: full;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 200px;
    padding: 5px;
}

.label{
    font-size: 18px;
    font-weight: bold;
}

.createAccountButton{
    margin-top: 20px;
    padding: 6px 20px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}